.grid_2_column {
  padding: 0;
  border-bottom: none;
}
.grid_2_column .out-thumb {
  padding: 12px 0;
}
@media screen and (max-width: 768px) {
  .grid_2_column {
    padding-right: 0px;
  }
}
@media screen and (min-width: 768px) {
  .grid_2_column:nth-of-type(even) {
    padding-left: 10px;
  }
  .grid_2_column:nth-of-type(odd) {
    padding-right: 10px;
    clear: left;
  }
}
